footer
  .container.text-center
    p.float-left © KIPP Texas
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://kipptexas.org/') KIPP Texas
      li.list-inline-item
        a(href='#') Issues
