extends layout


block content
  link(rel="stylesheet", href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css")
  h1 Coding Solution
  #table-wrapper
    table.table#coding-solution
  
block script
  script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
  script(src='/js/codingsolution/fecodingsolution.js')